@font-face {
    font-family: RobotoSlab;
    src: url(Font/RobotoSlab-Regular.ttf);
}

body {
    font-family: RobotoSlab;
}

.banner {
    width: 100%;
    height: 200px;
}

.heading {
    color: #080808;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.container-fluid {
    display: flex;
    align-items: center;
    flex-direction: column;
}