@font-face {
    font-family: RobotoSlab;
    src: url(Font/RobotoSlab-Regular.ttf);
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: RobotoSlab;
    background-color: floralwhite;
    /* width: 100%; */
    background-repeat: no-repeat;
}

.bg-image {     
    background-image: url(Images/bg-image.webp);
    position: fixed;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 1350px;
    height: 600px;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.logo {
    margin-left: 10%;
    color: #e2bc4f !important;
}

.navbar-brand {
    font-weight: 800;
    color: #e2bc4f;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.navbar-brand:hover {
    color: #e2bc4f;
}

.navbar {
    background-color: #080808 !important;
}

.btn {
    background-color: #e2bc4f !important;
    color: #080808 !important;
    margin-right: 10px !important;
    padding: 1px;
    cursor: pointer;
    width: 90px !important;
    opacity: 0.9 !important;
    font-weight: 600 !important;
}

.btn:hover {
    opacity: 1 !important;
}

.btn:active {
    background-color: #080808 !important;
    color: #e2bc4f !important;
}

.content {
    margin-top: 60px;
    text-align: center;
}

.table {
    margin-top: 30px;
    text-align: center;
}

.period {
    font-size: medium;
}