@font-face {
    font-family: RobotoSlab;
    src: url(Font/RobotoSlab-Regular.ttf);
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: RobotoSlab;
    background-color: floralwhite;
}

.bg-image {     
    background-image: url(Images/bg-image.jpg);
    position: fixed;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 1350px;
    height: 600px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.logo {
    margin-left: 10%;
    color: #e2bc4f !important;
}

.navbar-brand {
    font-weight: 800;
    color: #e2bc4f;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.navbar-brand:hover {
    color: #e2bc4f;
}

.navbar {
    background-color: #080808 !important;
}

.btn {
    background-color: #e2bc4f !important;
    color: #080808 !important;
    margin-right: 10px !important;
    padding: 1px;
    cursor: pointer;
    width: 90px !important;
    opacity: 0.9 !important;
    font-weight: 600 !important;
}

.btn:hover {
    opacity: 1 !important;
}

.btn:active {
    background-color: #080808 !important;
    color: #e2bc4f !important;
}

.content {
    margin-top: 60px;
    text-align: center;
}

.input-container{
    margin-top: 20px;
    text-align: center;
}

.table {
    margin-top: 30px;
    text-align: center;
}

.period {
    font-size: medium;
}

.date{
    font-weight: 500;
    font-size: 25px;
}

.selected-name{
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    font-weight: 800;
    font-size: large;
    color:black !important;
    background-color: #e2bc4f !important;
}

.selected-time{
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    font-size: large;
    font-weight: 800;
    color:black !important;
    background-color: #e2bc4f !important;
}

.arrow{
    border: none;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;

    background-color: transparent;
}

.table{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-weight: 300;
    border-radius: 50%;
}

.dateInput{
    border-radius: 50px;
    text-align: center;
}

.input-container{
    font-weight: 600;
}

.current-prayer {
    background-color: #fcb045 !important;
    color: #000;
    font-weight: bold;
    font-size: large;
    border-top: 2px solid rgb(161, 28, 28);
    border-bottom: 2px solid rgb(161, 28, 28);
    border-right: 2px solid rgb(161, 28, 28);
    border-left: 2px solid rgb(161, 28, 28);

}
