@font-face {
    font-family: RobotoSlab;
    src: url(Font/RobotoSlab-Regular.ttf);
}

* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: RobotoSlab;
    background-color: floralwhite;
}

.container-fluid1 {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    background-color: #f5e7bd !important;
}

.navbar-brand {
    color: #080808 !important;
    margin-left: 10%;
}

.btn {
    background-color: #e2bc4f !important;
    color: #080808 !important;
    margin-top: 10px;
    margin-right: 10%;
    margin-bottom: 7%;
    padding: 5px 20px;
    border: none !important;
    cursor: pointer;
    width: 150px !important;
    opacity: 0.9 !important;
    font-weight: 700 !important;
}

.btn:hover {
    opacity: 1 !important;
}

.btn:active {
    background-color: #080808 !important;
    color: #e2bc4f !important;
}
